<footer>

  <div class="w-screen bg-slate-100 font-lora flex flex-col justify-center items-center p-10 gap-3 text-green-800">
  <div class="h-20 w-56 flex justify-center items-center overflow-hidden rounded-full border border-green-600">
    <img src="./../../../assets/logo.png" class="object-fill">
  </div>

  <ul class="w-80 flex justify-between ">
    <li> <a href="">Terms & conditions</a></li>
    <li> <a href="">About</a></li>
    <li> <a href="">Contact</a></li>
  </ul>
    <p>Copyright @ 2023 eblogs site</p>
</div>
</footer>
