<div class="card w-[26rem] shadow-xl flex flex-col gap-3 bg-slate-100 rounded-xl overflow-hidden max-md:w-full">
  <img
    src="https://www.shutterstock.com/image-illustration/oil-painting-conceptual-abstract-picture-260nw-1445018480.jpg" class="w-full object-contain"
  />

  <div class="cardbody px-4">
    <div class="flex gap-4">
    <span class="font-dm text-rose-600">Design</span>
    <span class="font-dm text-green-600">Featured</span>
    <span class="font-dm text-blue-600">Views-100,256</span>
  </div>
    <h4 class="text-2xl font-bold font-sans mt-3" >How to start a blog in 2020 editted new category</h4>
    <p class="font-serif text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla architecto ullam perspiciatis, saepe quo quia ratione cumque sed nostrum a reiciendis earum inventore reprehenderit accusantium illum quod obcaecati qui in!</p>
    <p class="text-orange-500 m-5">Last Updated Sep 20,2001</p>
  </div>
</div>
