<div class="bg-gradient-to-r from-teal-700 to-[#052d70] p-16 flex flex-col flex-wrap gap-8 max-md:w-full max-md:p-0">

  <div class="flex flex-col items-center">
<h1 class="font-serif text-3xl font-black text-white">Featured Posts</h1>
<p class="font-serif text-white">Lorem ipsum dolor sit amet consectetur.</p>
  </div>

  <div class="flex gap-6 flex-wrap">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</div>
